<launch>
    <!-- IG1 RS484 Sensor node -->
    <node name="lpms_ig1_rs485" pkg="lpms_ig1" type="lpms_ig1_rs485_node">
        <param name="port" value="/dev/ttyS5" type="string" />
        <param name="baudrate" value="115200" type="int" />
        <param name="rs485ControlPin" value="433" type="int" />
        <param name="frame_id" value="imu" type="string" />
    </node>


    <!-- IG1 RS485 Client node (Delayed 5 secs before launch to enable sensor node connection to be completed) -->
    <node name="lpms_ig1_client" pkg="lpms_ig1" type="lpms_ig1_rs485_client" launch-prefix="bash -c 'sleep 5.0; $0 $@' " >
    </node>

    <!-- Quaternion to Euler conversion node -->
    <node name="quat_to_euler" pkg="lpms_ig1" type="quat_to_euler_node" />

    <!-- Plots -->
    <node name="plot_imu_gyro" pkg="rqt_plot" type="rqt_plot" 
        args="/imu/data/angular_velocity" />

    <node name="plot_imu_euler" pkg="rqt_plot" type="rqt_plot"
        args="/rpy_angles" />
</launch>
